# Data and Models
data/
*.rds
*.RData
*.Rhistory

# Environments and Secrets
.env
.env.*
*.secret
venv/
.venv/

# IDE and OS files
.DS_Store
.vscode/
.idea/
.Rproj.user/
__pycache__/
*.pyc
.ipynb_checkpoints/

.cache_ggshield
*.log